#gameCanvas {
    box-shadow: 10px 10px 20px black;
}

h1{
    display: flex;
    text-align: center;
    font-family: comic sans MS;
    color: rgb(240, 227, 46);
}

body {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(0deg, rgb(239, 170, 227) 0%, rgb(73, 3, 116) 100%);
}

#game{
    display: flex;
    flex-direction: row;
}

.life-counter {
display: flex;
align-items: center;
flex-direction: column;
width: 100px;

}

.life-counter> span{
    font-size: 30px;
    color:rgb(240, 216, 31);
}